@charset "utf-8";
.top{
	width:100%;
	height:100px;
	line-height:100px;
	background:#fff;
	color:#000;
	font-size:50px;
	text-align:center;
	font-family:"幼圆";
	overflow:hidden;
}
.left{
	width:15%;
	overflow:hidden;
	float:left;
}
.button1{
	width:100%;
	height:30px;
	background:#F60;
	display:block;
	border:none;
	color:white;
	margin:10px 0;
	text-align:center;
	line-height:30px;
	overflow:hidden;
}
.right{
	width:85%;
	float:right;
	margin:10px 0;
	paadding:10%;
	background:white;
}
.user{
	width:90%;
	padding:5%;
}
.user table{
	width:100%;
	text-align:center;
}
.weibo{
	width:90%;
	padding:5%;
	display:none;
}
.weibo table{
	width:100%;
	text-align:center;
	
}
.discuss{
	width:90%;
	padding:5%;
	display:none;
}
.discuss table{
	width:100%;
	text-align:center;
}