@charset "utf-8";
.content{
	width:65%;
	margin:70px auto 20px auto;
	padding:30px;
	line-height:50px;
	background:#fff;
}
.title{
	padding-left:30px;
	line-height:50px;
}
.content table{
	margin:30px auto;
}
.alter{
	background:#f7671d;
	width:100%;
	height:30px;
	border:none;
	margin-top:10px;
	color:white;
}