@charset "utf-8";
.login_bg{
	width:955.2px;
	height:426.4px;
	background:url(../images/bg.jpeg) no-repeat;
	background-size:cover;
	margin:30px -50px;
}

.login {
	width:300px;
	background:#fff;
	position:absolute;
	right:100px;
	top:180px;
}

.login_content {
    width: 300px;
}

.container {
    padding: 15px;
}

button {
	width: 270px;
    background-color: #f7671d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.account{
	width: 270px;
    padding: 12px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	background:url(../images/account.png) no-repeat;
}
	
.userpass{
	width: 270px;
    padding: 12px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	background:url(../images/userpass.png) no-repeat;
}