@charset "utf-8";
*{
	margin:0px;
	padding:0px;
	
}
body{
	background:#9dcce9;
}
.header{
	height:136px;
	background:url(../images/register_bg.png) no-repeat center;
}
.register{
	width:600px;
	height:400px;
	margin:0 auto;
	padding:30px;
	background:white;
	line-height:50px;
}
.register table{
	margin:30px auto;
}
.register a{
	display:block 
	font-size:10px;
	text-align:right;
}
.jump{
	font-size:10px;
	text-align:right;
}

