@charset="utf-8";
body{width: 100%; min-width: 900px; background: url(../img/reg_repeat_bg.png) repeat-x; background-attachment: fixed;}
.width{width: 900px;}
.inp{width: 200px; height: 30px; border-radius: 2px;}
.inp_font{color: #808080; font-family: "微软雅黑"; font-size: 14px; text-indent: 2px;}
.inp_style{height: 26px; display: block; box-shadow: 0px 1px 1px 0px #eaeaea inset; border: 1px solid #ccc; border-radius: 0 2px 2px 0; padding: 1px 0;}
.top{height: 144px; background: url(../img/bg_reg_wave.png); padding: 10px 0;}
.top_logo{width: 200px; height: 72px; margin-top: 26px; background: url(../img/logo_big.png);}
.content{background: white; border-radius: 6px; margin-bottom: 15px; box-shadow: 0px 2px 3px #98b4c4; padding-bottom: 78px;}
.tab{width: 820px; padding: 24px 40px; font-size: 22px; font-family: "微软雅黑"; line-height: 30px;}
.tab span{margin: 0 19px; color: #999; font-size: 12px;}
.tab_select{border-bottom: 3px solid #ffa00a;}
.sign_mes{background: url(../img/reg_vline.png) no-repeat scroll 630px 0;}
.sign_imfor{width: 510px; margin: 29px 0 0 90px;}
.tit{width: 90px; text-align: right; margin-right: 5px; line-height: 30PX;}
.tit a{color: #F00; font-size: 14px;}
.acc_inp{width: 162px;}
.acc_inp span{margin: 0 5px; display: block; line-height: 28px;}
.acc_code{width: 112px; height: 26px; display: block;}
.infor{overflow: hidden; line-height: 30px; margin-bottom: 10px;}
.inp_warn{height: 18px; padding: 6px 0; margin-left: 10px; line-height: 14px; display: none;}
.inp_warn span{width: 16px; height: 16px; margin-right: 5px;}
.sign_method{margin: 0 0 15px 95px; font-size: 12px;}
.pass{width: 200px; height: 26px;}
.inp_width{width: 200px; height: 26px;}
.check{line-height: 50px;}
.check_inp{width: 74px; height: 26px; margin: 10px 10px 0 0;}
.ckeck_code{height: 50px;}
.check_code img{margin-right: 5px;}
.check_code a{line-height: 50px;}
.check_warn{margin: 10px 0 0 10px;}
.havein{height: 18px; padding: 10px 0 8px; text-align: center; border: 1px solid #ff9b01; color: #FFF;background: #FFA00A; font-size: 16px; font-weight: bold; margin: 30px 0 0 95px; cursor: pointer;}
.havein:hover{opacity: 0.9;}
.agreement{margin: 10px 0 0 95px;}
.agreement a{display: block; margin-bottom: 5px;}
.help{float: right; width: 210px; margin: 30px 30px 0 0; font-size: 14px; line-height: 22px;}
.turn_login{margin-bottom: 14px; padding-bottom: 6px; border-bottom: 1px dotted #ccc;}
.turn_login a{font-size: 14px;}
.sign_help {margin-bottom: 45px;}
.sign_help li{margin-top: 10px}
.sign_help li span{background: url(../img/bg_listNum.png); margin: 4px 10px 0 0; width: 15px; height: 18px; line-height: 15px; text-align: center;  color: #FFF; font-family: "微软雅黑"}
.sign_help li a{width: 175px; line-height: 22px;}
.help_more{margin: 10px 10px 0 0; text-decoration: underline; color: blue; float: right;}

